Wyvrn_Sample/Wyvrn_Sample.sln
Wyvrn_Sample/.vs/
Wyvrn_Sample/Intermediate/
Wyvrn_Sample/Plugins/WyvrnSDKPlugin/Binaries/
Wyvrn_Sample/Plugins/WyvrnSDKPlugin/Intermediate/
Wyvrn_Sample/Saved/Backup/
Wyvrn_Sample/Saved/Autosaves/
Wyvrn_Sample/Saved/Config/CrashReportClient/
Wyvrn_Sample/Saved/Cooked/
Wyvrn_Sample/Saved/StagedBuilds/
Wyvrn_Sample/Saved/XboxOne/
Wyvrn_Sample/Saved/Temp/
Wyvrn_Sample/Saved/Logs/
Wyvrn_Sample/Binaries/
Wyvrn_Sample/Build/
Wyvrn_Sample/DerivedDataCache/
Wyvrn_Sample/Saved/
Wyvrn_Sample/.vsconfig
